[diff]
	tool = meld
[core]
	editor = nvim
	autocrlf = false
	fileMode = false
	excludesfile = ~/.gitignore
[difftool]
	prompt = true
[alias]
	d = difftool
[color]
	ui = true
[help]
	autocorrect = 20
[merge]
	tool = meld
[user]
	email = tobias.fuchst@tfox.tech
	name = Tobias Fuchs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
